@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  max-width: 120rem;
  background-size: contain;
  background-position: top;
  margin: 0 auto;
  color: #72777c;
  background-color: hsl(225, 100%, 94%);
  overflow: hidden;
}

.main {
  background-color: #fff;
  width: 28.11rem;
  margin: 3rem auto;
  border-radius: 2rem;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.header-img {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.body {
  padding: 1.6rem 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.order-summary {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: #002c58;
  font-size: 1rem;
  margin-top: 1rem;
}

.describe {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #72777c;
  font-size: 1.2rem;
  margin-top: -1rem;
}

.annual-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 247, 255, 0.979);
  border-radius: 12px;
  padding: 0.8rem 2.4rem;
  margin-bottom: 8px;
}

.order-plan {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  row-gap: 5px;
  transform: translateX(-20%);
  font-family: "Red Hat Display", sans-serif;
}

.annual-plan {
  font-weight: 700;
  color: #002c58;
}

.annual-price {
  font-weight: 500;
  color: #72777c;
}

.change {
  font-family: "Red Hat Display", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: hsl(263, 75%, 49%);
  transition: all 0.3s ease;
}

.change:hover {
  color: rgba(103, 31, 219, 0.719);
  text-decoration: underline rgba(103, 31, 219, 0.719);
}

.payment {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.proceed {
  text-align: center;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: rgba(56, 41, 224, 0.95);
  color: #fff;
  box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-top: -1rem;
}

.proceed:hover {
  background-color: rgba(56, 41, 224, 0.8);
}

.cancle {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  color: #72777c;
}

.cancle:hover {
  color: #3829e0;
}

@media (max-width: 465px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }
  .main {
    width: 24rem;
    overflow: hidden;
  }
  .header-img {
    width: 25rem;
  }
  .annual-plan {
    font-size: 0.6rem;
  }
  .annual-box img {
    transform: translateX(-60%);
  }
}

@media (max-width: 408px) {
  .main {
    width: 21rem;
    height: 38rem;
    margin: 2rem 1rem;
  }
  .describe {
    font-size: 0.9rem;
    margin-top: -1rem;
  }
  .order-summary {
    margin-top: -0.5rem;
  }
  .annual-box {
    margin-top: -0.5rem;
    padding: 0.5rem 2rem;
  }
  .change {
    font-family: 0.5rem;
    transform: translateX(-25%);
  }
  .order-plan {
    transform: translateX(-30%);
  }
}
